@import "./null_styles";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
   font-family: 'Montserrat', sans-serif;
}

.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.container {
   @media(min-width: 1200px){
      max-width: 1180px;
   }

   padding: 0 10px;
   margin: 0 auto;
}

.content {
   // .content__row
   &__row {
      padding: 10px 0;
      display: grid;
      justify-items: center;
      gap: 20px;
      //grid-template: auto auto auto auto / 1fr;
   }
   // .content__title
   &__title {
      font-weight: 700;
      font-size: 30px;
      text-align: center;
   }
   // .content__form
   &__form {
   }
}

.form {
   display: grid;
   //grid-auto-flow: column;
   gap: 20px;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
   align-items: center;
   font-size: 16px;
   grid-template: repeat(3, auto) / repeat(2, auto);

   @media(max-width: 539px){
      grid-template: repeat(6, auto) / auto;
      gap: 10px;
      padding: 15px;
      width: 100%;
     // font-size: 14px;

      & *{
         min-width: 0;
         font-size: inherit;
      }
   }

   &>*{
      font-size: inherit;
   }

   
   // .form__input-wrapper
   &__input-wrapper {
      display: grid;
      gap: 10px;
   }

   // .form__label
   &__label {
      font-weight: 500;
   }

   // .form__input
   &__input {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      min-width: 0;

      &:focus{
         box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.5);

         &::placeholder{
            color: transparent;
         }
      }
   }
   // .form__select
   &__select {
      font-size: inherit;
   }
   // .form__checkbox
   &__checkbox {
   }
   // .form__submit
   &__submit {
      min-width: 0;
      padding: 10px;
      border-radius: 5px;
      background: blue;
      border: 1px solid blue;
      color: white;
      transition: all 0.3s ease 0s;
      cursor: pointer;
      //grid-column: span 2;

      &:hover{
         background: white;
         color: blue;
      }
   }
}

.checkbox {
   display: flex;
   gap: 10px;
   align-items: center;
   // .checkbox__label
   &__label {
   }
   // .checkbox__item
   &__item {
      &>input{
         display: none;
      }

      flex: 0 0 30px;
      height: 30px;
      //border: 1px solid black;
      position: relative;
      cursor: pointer;

      &::before,&::after{
         content: '';
         position: absolute;
         border-radius: 50%;
         overflow: hidden;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      &::before{
         width: 100%;
         height: 100%;
         //background: brown;
         box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      }

      &::after{
         width: 0;
         height: 0;
         background: blue;
         transition: all 0.2s ease 0s;

         ._active &{
            width: 80%;
            height: 80%;
         }
      }
   }
}

.content {
   // .content__wrapper
   &__wrapper {
      width: 100%;
      //background: orange;
   }
   // .content__canvas
   &__canvas {
   }
}

.canvas {
  // width: 0;
}

.display {
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   padding: 15px;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
   border-radius: 5px;
   overflow: hidden;
   gap: 10px;
   background: white;
   @media(max-width: 539px){
      padding: 5px;
   }
   // .display__place
   &__place {
      display: flex;
      gap: 10px;
      align-items: center;
      @media(max-width: 539px){
         gap: 5px
      }
   }
   // .display__title
   &__title {
      font-size: 20px;
      @media(max-width: 539px){
         font-size: 18px
      }
      font-weight: 700;
   }
   // .display__value
   &__value {
      font-size: 16px;
      @media(max-width: 539px){
         font-size: 14px
      }
      // font-weight: 500;
   }
}

.select {
   font-size: inherit;
   // .select__el
   &__el {
      font-size: inherit;
      display: none;
   }
   // .select__option
   &__option {
      font-size: inherit;
   }
   // .select__custom-select
   &__custom-select {
      font-size: inherit;
   }
}
.custom-select {
   position: relative;
   font-size: inherit;
   // .custom-select__line
   &__line {
      padding: 10px 50px 10px 10px;
      font-size: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      cursor: pointer;
      font-size: inherit;
      line-height: 1.2;

      &::before{
         content: '+';
         position: absolute;
         top: 50%;
         right: 10px;
         transform: translate(0, -50%);
         font-size: 30px;
         transition: all 0.1s ease 0s;

         ._active &{
            transform: translate(0, -50%) rotate(-45deg);
         }
      }
   }
   // .custom-select__wrapper
   &__wrapper {
      position: absolute;
      font-size: inherit;
      top: 100%;
      left: 0;
      padding: 10px;
      z-index: 10;
      background: white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      border-radius: 5px;
      //display: none;
      transition: all 0.1s ease 0s;
      opacity: 0;
      visibility: hidden;

      ._active &{
         opacity: 1;
         visibility: visible;
      }
   }
   // .custom-select__option
   &__option {
      padding: 5px;
      //font-size: inherit;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.1s ease 0s;
      line-height: 1.2;

      @media(max-width: 439px){
         font-size: inherit;
      }

      &:hover{
         background: orange;
         color: white;
      }
   }
}
